// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     list-style: none;
// }

@mixin forbutton {
    width: 165px;
    height: 61px;
    background: #F9F9F9;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    margin: 0 auto;
}

.Selection {

    p {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 140%;
        text-align: center;
        color: #333333;
    }

    h1 {
        font-family: Noto Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        color: #333333;

    }

    .but-1 {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    button {
        @include forbutton;
        margin: 35px 12px;

        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .only-1 {
        background: #333333;
        color: #FFFFFF;
    }

    .imageblock {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 280px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        }
        
        .img1 { grid-area: 1 / 1 / 2 / 2; }
        .img2 { grid-area: 1 / 2 / 2 / 3; }
        .img3 { grid-area: 1 / 3 / 2 / 4; }
        .img4 { grid-area: 2 / 1 / 3 / 2; }
        .img5 { grid-area: 2 / 2 / 3 / 3; }
        .img6 { grid-area: 2 / 3 / 3 / 4; }
    

    
    // .imageblock-1 {
    //     display: grid;
    //     justify-content: center;
    //     grid-template-columns: repeat(3, 350px);
    //     grid-template-rows: repeat(2, 280px);
    //     grid-column-gap: 30px;
    //     grid-row-gap: 30px;
    //     }
            
    //     .img1 { grid-area: 1 / 1 / 2 / 2; }
    //     .img2 { grid-area: 1 / 2 / 2 / 3; }
    //     .img3 { grid-area: 1 / 3 / 2 / 4; }
    //     .img4 { grid-area: 2 / 1 / 3 / 2; }
    //     .img5 { grid-area: 2 / 2 / 3 / 3; }
    //     .img6 { grid-area: 2 / 3 / 3 / 4; }

}


// ******************** MEDIAAAA******************************


@media screen and (max-width:2560px) {

    .Selection {

    p {
        font-size: 35px;
    }

    h1 {
        font-size: 50px;
    }
    }
}

@media screen and (max-width:1440px) {
    
    .Selection {

        p {
            font-size: 25px;
        }
    
        h1 {
            font-size: 35px;
        }
    
        }

        .imageblock {
            margin: 0 25px;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 250px);
            grid-template-rows: repeat(2, 180px);
            grid-column-gap: 15px;
            grid-row-gap: 15px;
            }

}

@media screen and (min-width:769px) and (max-width:1024px) {
    
    .Selection {

        p {
            font-size: 25px;
        }
    
        h1 {
            font-size: 35px;
        }
    
        

        .imageblock {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 300px);
            grid-template-rows: repeat(2, 250px);
            grid-column-gap: 20px;
            grid-row-gap: 20px;  

            img {
                height: 100%;
                width: 100%;
            }
        }  
    }

}


@media screen and (max-width:768px) {

    .Selection {

        p {
            font-size: 20px;
        }
    
        h1 {
            font-size: 30px;
        }
    
        

        .imageblock {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 210px);
            grid-template-rows: repeat(2, 180px);
            grid-column-gap: 30px;
            grid-row-gap: 30px;  

            img {
                height: 100%;
                width: 100%;
            }
        }  

        .but-1 {
            display: flex;
            justify-content: center;
            margin: 0;
        }
    
        button {
            @include forbutton;
            margin: 20px 5px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    
        .only-1 {
            background: #333333;
            color: #FFFFFF;
        }
    }
}
    

@media screen and (max-width:425px) {
    
    .Selection {

        p {
            font-size: 20px;
        }
    
        h1 {
            font-size: 25px;
        }
    
        

        .imageblock {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3,115px);
            grid-template-rows: repeat(2, 95px);
            grid-column-gap: 30px;
            grid-row-gap: 30px;  

            img {
                height: 100%;
                width: 100%;
            }
        }  

        .but-1 {
            display: flex;
            justify-content: center;
            margin: 0;
        }
    
        button {
            @include forbutton;

            width: 60px;
            height: 45px;


            margin: 15px 5px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 7px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    
        .only-1 {
            background: #333333;
            color: #FFFFFF;
        }
    }
}