.Selection p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}
.Selection h1 {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
}
.Selection .but-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.Selection button {
  width: 165px;
  height: 61px;
  background: #F9F9F9;
  border: 1px solid #D6D6D6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin: 35px 12px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.Selection .only-1 {
  background: #333333;
  color: #FFFFFF;
}
.Selection .imageblock {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 350px 30px 350px 30px 350px;
  grid-template-columns: repeat(3, 350px);
  -ms-grid-rows: 280px 30px 280px;
  grid-template-rows: repeat(2, 280px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.Selection .imageblock > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.Selection .imageblock > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.Selection .imageblock > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.Selection .imageblock > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.Selection .imageblock > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.Selection .imageblock > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.Selection .img1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}
.Selection .img2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}
.Selection .img3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}
.Selection .img4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}
.Selection .img5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}
.Selection .img6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
}

@media screen and (max-width: 2560px) {
  .Selection p {
    font-size: 35px;
  }
  .Selection h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1440px) {
  .Selection p {
    font-size: 25px;
  }
  .Selection h1 {
    font-size: 35px;
  }

  .imageblock {
    margin: 0 25px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 250px 15px 250px 15px 250px;
    grid-template-columns: repeat(3, 250px);
    -ms-grid-rows: 180px 15px 180px;
    grid-template-rows: repeat(2, 180px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .imageblock > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .imageblock > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .imageblock > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .imageblock > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .imageblock > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .imageblock > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .Selection p {
    font-size: 25px;
  }
  .Selection h1 {
    font-size: 35px;
  }
  .Selection .imageblock {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 300px 20px 300px 20px 300px;
    grid-template-columns: repeat(3, 300px);
    -ms-grid-rows: 250px 20px 250px;
    grid-template-rows: repeat(2, 250px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .Selection .imageblock > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .Selection .imageblock > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .Selection .imageblock > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .Selection .imageblock > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .Selection .imageblock > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .Selection .imageblock > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .Selection .imageblock img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .Selection p {
    font-size: 20px;
  }
  .Selection h1 {
    font-size: 30px;
  }
  .Selection .imageblock {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 210px 30px 210px 30px 210px;
    grid-template-columns: repeat(3, 210px);
    -ms-grid-rows: 180px 30px 180px;
    grid-template-rows: repeat(2, 180px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .Selection .imageblock > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .Selection .imageblock > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .Selection .imageblock > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .Selection .imageblock > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .Selection .imageblock > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .Selection .imageblock > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .Selection .imageblock img {
    height: 100%;
    width: 100%;
  }
  .Selection .but-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .Selection button {
    width: 165px;
    height: 61px;
    background: #F9F9F9;
    border: 1px solid #D6D6D6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    margin: 20px 5px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .Selection .only-1 {
    background: #333333;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 425px) {
  .Selection p {
    font-size: 20px;
  }
  .Selection h1 {
    font-size: 25px;
  }
  .Selection .imageblock {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 115px 30px 115px 30px 115px;
    grid-template-columns: repeat(3, 115px);
    -ms-grid-rows: 95px 30px 95px;
    grid-template-rows: repeat(2, 95px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .Selection .imageblock > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .Selection .imageblock > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .Selection .imageblock > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .Selection .imageblock > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .Selection .imageblock > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .Selection .imageblock > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .Selection .imageblock img {
    height: 100%;
    width: 100%;
  }
  .Selection .but-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .Selection button {
    width: 165px;
    height: 61px;
    background: #F9F9F9;
    border: 1px solid #D6D6D6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    width: 60px;
    height: 45px;
    margin: 15px 5px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .Selection .only-1 {
    background: #333333;
    color: #FFFFFF;
  }
}